body{
	--white:#fff;
	--blue:#1a9bdc;
	--dark:#6a6a6a;
	--black:#111111;
	--dark-50:#191919;
	--dark-100:#3f3f3f;
	--dark-75:#494949;
	--dark-200:#6f6f6e;
	--dark-300:#e2e2e2;
	--light-blue:#43b1d2;
	--light-green:#3fb6c6;
	--bold-green:#3cbbbb;
	--semi-green:#37c3a8;
	--dark-blue:#1a9bdc;
	--black:#171717;
	--footer-color:#1a1a1a;
}
